/** {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

.Highlights {
  min-height: 100%;
}

.courses {
  margin-bottom: 25vh;
}

.login {
  margin-bottom: 15vh;
}*/

#root {
  background-color: #fefefe;
}

.navbar1 {
  padding: 2px;
  color: white;
  background-color: #423F3E;  
  background: url("https://images.pexels.com/photos/3107874/pexels-photo-3107874.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  
}

.navbarMain {
  margin-left:  15px;
  padding: 0px;
}

.hamburgMenu {
  margin-right:  10px;
  text-align: center;
  justify-content: center;
}

.nav-link {
  color: #ffc404;
}

.nav-link.click {
  color: #ffc404;
}

.navMenu {
  font-size: 12px;
  color: #f8f9f8;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px black;
}

.navMenu:hover {
  /*//background-color: #ffc404;*/
  color: #ffc404;
}

.navMenu a {
  color: #ffc404;
}


.homepage-bgimage {
  /*background: url("https://images.pexels.com/photos/4226192/pexels-photo-4226192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  animation: fadeInRight; 
  animation-duration: 1s; 
}

.banner1 {
  color: #2A2B2A;
  animation: fadeInUp; 
  animation-duration: 1s; 
  /*padding: 250px;
  padding-left: 380px;*/
}

.home1 {
  margin-top: 15px;
  max-width: 100%;
}

.home2 {
  max-width: 100%;
  background-color: black;
  margin-bottom: 0px;
  background: url("https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}


.banner1 h1 {
  color: #2A2B2A;
  font-size: 38px;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px whitesmoke;
  padding-left: 15px;
}

.banner1 p {
  color: ghostwhite;
  font-size: 15px;
  font-family: 'Shrikhand', cursive;
  padding-left: 15px;
  text-shadow: 2px 2px black;
}

.highlight1-bgimage {
  background: url("https://images.pexels.com/photos/7368302/pexels-photo-7368302.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: 'Noto Serif Display', serif;
  margin-top: 15px;
  font-family: 'Shrikhand', cursive;
  animation: fadeInLeft; 
  animation-duration: 1s;
}

.highlight2-bgimage {
  background: url("https://images.pexels.com/photos/7422114/pexels-photo-7422114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  animation: fadeInRight; 
  animation-duration: 1s;
}

.highlightsMain {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.cardText1 {
  font-family: 'Shrikhand', cursive;
  font-size: 27px;
  color: #2A2B2A;
  text-shadow: 2px 2px whitesmoke;
  animation: fadeInUp; 
  animation-duration: 1s; 
}

.cardText2 {
  font-family: 'Shrikhand', cursive;
  font-size: 27px;
  color: #2A2B2A;
  text-shadow: 2px 2px whitesmoke;
  animation: fadeInUp; 
  animation-duration: 1s; 
}

.footer1 {
  background-color: #423F3E;  
  color: whitesmoke;
  font-family: 'Convergence', sans-serif;
}

.loginCard {
  text-align: center;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  padding: 3%;
  background-color: whitesmoke;
  animation: fadeInUp; 
  animation-duration: 1s; 
}

.login h1 {
  color: #2A2B2A;
  font-size: 38px;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px #C7BEA2;
  margin-top: 8%;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  text-align: center;
  animation: fadeInDown; 
  animation-duration: 1s; 
}

.productCard {
  text-align: center;
  margin-top: 2%;
  margin-left: 25%;      
  margin-right: 25%;
  margin-bottom: 2%;
  width: auto;
  background-color: #1B1A17;
  color: ghostwhite;
  animation: fadeInUp; 
  animation-duration: 1s; 
}

.catalogLabel {
  color: #2A2B2A;
  font-size: 38px;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px #C7BEA2;
  margin-top: 2%;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  text-align: center;
  animation: fadeInDown; 
  animation-duration: 1s; 
}

.registerLabel {
  color: #2A2B2A;
  font-size: 38px;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px whitesmoke;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  text-align: center;
  animation: fadeInDown; 
  animation-duration: 1s; 
}

.courseViewCard {
  text-align: center;
  margin-top: 3%;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  padding: 1%;
  background-color: #1B1A17;
  color: whitesmoke;
}

.dashboardLabel {
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px #A0937D;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  text-align: center;
}

.dashboardCard {
  margin-top: 1%;
  margin-bottom: 2%;
  padding-bottom: 20px;
  background-color: #2D2424;
  color: whitesmoke;
}

.dashboardMain {
  color: #2A2B2A;
  font-size: 38px;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px #C7BEA2;
  margin-top: 2%;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  text-align: center;
}

.dashboardBtn {
  margin-left: 43%;
  width: auto;
}

.courseViewLabel {
  color: #2A2B2A;
  font-size: 38px;
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px #C7BEA2;
  margin-top: 2%;
  margin-left: 18%;      
  margin-right: 18%;
  width: auto;
  text-align: center;
}